{% load staticfiles %}

{% load leaflet_tags %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}" media="screen" title="no title" charset="utf-8">
        <link rel="stylesheet" href="{% static 'bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css' %}" media="screen" title="no title" charset="utf-8">
        <link rel="stylesheet" href="{% static 'bower_components/font-awesome/css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}" media="screen" title"no title" charset="utf-8">
        <title></title>
        <script type="text/javascript" src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.formset.js' %}"></script>
        {% leaflet_js %}
        {% leaflet_css %}
    </head>
    <body>
        {% include "header.html" %}
        {% block content %}
        {% endblock %}
    </body>
</html>
