{% extends "easy_pdf/base.html" %}

{% block content %}
<div id="content">
<div class="container">

    <table class="table table-bordered">
        <tr>
            <th class="center">numéro</th>
            <th class="center">date</th>
            <th class="center">client</th>
            <th class="center">total</th>
            <th class="center">paiement</th>
            <th></th>
            <th></th>
        </tr>


        {% for invoice in invoices %}
        <tr>
            <td>{{ invoice.ref }}</td>
            <td>{{ invoice.creation_date }}</td>
            <td>{{ invoice.client }}</td>
            <td class="right">{{ invoice.get_total|floatformat:2 }}</td>
            <td>{{ invoice.paiement }}</td>
            <td class="center"><a href="{% url "detail-fact" invoice.id %}"><i class="fa fa-eye" aria-hidden="true"></i></a></td>
            <td class="center"><a href=""><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a></td>
        </tr>

        {% endfor %}

    </table>
</div>
</div>

{% endblock %}
