#logo {
    width: 150px;
}
.container {
    width: 80%;
    margin: auto;
    background-color: lightgrey;
}
.livraison {
    margin-bottom: 20px;
}
.center {
    text-align: center;
}
.right {
    text-align: right;
}
.table {
    margin-top: 20px;
}
.large5{
    width: 5%;
}
.large10{
    width: 10%;
}
.large20{
    width: 20%;
}
.label {
    font-size: 1.5rem;
}
.form_create {
    width: 80%;
    margin: auto;
}
.trash {
    text-align: center;
}
.addressline {
    width: 33%;
    text-align: center;
    float: left;
}
.div-create-client, .div-create-produit {
    text-align: center;
    margin: 0 15px 10px 0;
}
.btn-form {
    margin: 10px 0;
}
h1 {
    display: inline-block;

}
.btn-modif-client {
    float: right;
    margin: 15px 0;
}
