{% extends "base.html" %}

{% block content %}
<div class="container">

<fieldset>
    <legend class="center">Modification d'un client</legend>

    <form class="" action="{% url 'update-client' client.id %}" method="post">
        {% csrf_token %}

        {% for field in form %}
        <div class="div-create-client">
            {{ field }}
            {{ field.errors }}
        </div>
        {% endfor %}
    </fieldset>

    <fieldset>
        <legend class="center">Adresses</legend>
        <div class="addressline">

            {{ addressline_formset.management_form }}
            {{ addressline_formset.non_form_errors }}

            <div class="div-create-client">
                {% for addressline_form in addressline_formset %}
                    {{ addressline_form.type.errors }}
                    {{ addressline_form.type }}
                    {{ addressline_form.street.errors }}
                    {{ addressline_form.street }}
                    {{ addressline_form.zipcode.errors }}
                    {{ addressline_form.zipcode }}
                    {{ addressline_form.city.errors }}
                    {{ addressline_form.city }}
                    {{ addressline_form.tel.errors }}
                    {{ addressline_form.tel }}
                    {{ addressline_form.fax.errors }}
                    {{ addressline_form.fax }}
                {% endfor %}
            </div>
        </div>
    </fieldset>
    <div class="center btn-form">
        <input type="submit" name="name" value="Créer">
    </div>
</form>
</div>


<script type="text/javascript">
    $(function() {

        $('.addressline').formset({
            prefix:"{{ addressline_formset.prefix }}",
            deleteText : "<i class='fa fa-trash'></i>",
            addText : "<i class='fa fa-plus'></i>",
        });

    })
</script>
{% endblock %}
